<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href='https://bbs.sjtu.edu.cn/file/bbs/bbs.css'>
<script type="text/javascript" src="https://bbs.sjtu.edu.cn/check.js"></script>
<link rel=stylesheet type=text/css href='https://bbs.sjtu.edu.cn//file/bbs/blue.css'>
<title>饮水思源 - 同主题树状结构 [讨论区: {{thread.board}}] [主题 '{{thread.title}}']</title>
</head>
<body>
<center><font class="title">饮水思源 - 同主题树状结构　　</font>[讨论区: {{thread.board}}] [主题 '{{thread.title}}']<hr>
{{treehtml| safe}}
共找到 {{thread.count}} 篇
<a href=https://bbs.sjtu.edu.cn/bbsdoc?board={{thread.board}}>本讨论区</a>
<p>本次查询使用时间 {{time}} 秒。</p>

</body>
</html>